body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0; 
    display: flex;
    flex-wrap: wrap;
}
.lo {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    height: 250px;
    width: 550px;
}
.cop {
    margin-left: 450px;
    margin-top: -250px;
    font-size: 55px;
    color: hsl(240, 100%, 27%);
    text-shadow: 4px 5px 4px goldenrod
}
.Line
{
    /* border: 5px solid hsl(240, 100%, 27%); */
    margin-top: 5px;
    width: 500px;
    display: flex;
    margin-left: 50px;
    font-size: 20px;
}
 .navigate {
    padding: 12px 12px;
    background-color: hsl(133, 86%, 46%);
    color: white;
    border-radius: 15px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 220px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
 }
 @media (max-width: 600px) {
    .navigate{
        writing-mode: horizontal-tb;
        transform: none;
        font-size: 14px;
        padding: 8px 12px;
    }
 }
 .navigate :hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
 .navigate:hover {
    background-color: lch(47.34% 91.85 38.28);
}
.foot {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: hsl(240, 100%, 27%);
    color: white;
    text-align: center;
    font-size: 14px;
}
.parent {
   position: relative;
    height: 500px;
    padding: 10px;
}
.contact {
    position: flex;
    bottom: 0;
    font-size: 25px;
    line-height: 1.5;
    margin-left: 200px;
    margin-top: 180px;
}
